In [16]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv('reduced_dataset.csv')

In [33]:
index_to_symbol = df[['Unnamed: 0', 'Symbol']].to_dict()
symbol_to_index = {index_to_symbol.values(), range(len(index_to_symbol))}

In [ ]:
# symbols = ['GEN',
#     'MSI',
#     'JKHY',
#     'APH',
#     'IBM',
#     'AKAM',
#     'MSFT',
#     'STX',
#     'AAPL',
#     'AMAT',
#     'TEL']

In [18]:
df.columns

Index(['Unnamed: 0', 'Symbol', '2015-01-02', '2015-01-05', '2015-01-06',
       '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12', '2015-01-13',
       ...
       '2019-12-17', '2019-12-18', '2019-12-19', '2019-12-20', '2019-12-23',
       '2019-12-24', '2019-12-26', '2019-12-27', '2019-12-30', '2019-12-31'],
      dtype='object', length=1260)

In [19]:
val_num = int(np.round((len(df.columns[4:])*0.15)))
train_num = len(df.columns[4:])-val_num

In [20]:
val = df.iloc[:,4:val_num+4]
train = df.iloc[:,val_num+4:train_num+4]
test = df.iloc[:, train_num+4:]

In [21]:
val

,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,2015-01-15,2015-01-16,2015-01-20,...,2015-09-21,2015-09-22,2015-09-23,2015-09-24,2015-09-25,2015-09-28,2015-09-29,2015-09-30,2015-10-01,2015-10-02
0,14.085333,14.063333,14.041333,13.777333,13.480667,13.616667,12.846000,12.791333,12.871333,12.795333,...,17.613333,17.396000,17.403999,17.541332,17.127333,16.562000,16.443333,16.559999,15.992000,16.504667
1,55.847969,56.339054,57.503120,56.875610,57.293957,57.757767,57.457645,56.857422,57.775944,57.375793,...,64.391090,63.986362,64.225517,64.032349,64.326714,62.965290,63.370052,64.032349,64.087555,65.191399
2,24.112528,24.525303,25.003012,24.859230,24.557770,24.502111,24.325872,24.084705,24.311954,24.279491,...,24.292538,23.675997,23.577913,23.381748,23.643305,23.106173,23.222939,23.802105,23.367729,23.591927
3,23.912348,24.247648,25.179298,25.206299,24.585201,24.803488,24.708967,24.038364,23.851583,24.465933,...,26.255775,25.843285,26.052944,26.207911,26.141827,25.624508,24.854218,25.136812,24.972729,25.155037
4,25.029282,24.986401,25.065184,24.740576,24.560070,24.741074,24.974932,25.020805,25.334444,25.275606,...,31.771999,31.134501,31.118000,31.290001,30.598499,29.744499,29.748501,30.421000,30.564501,31.345501

In [22]:
train

,2015-10-05,2015-10-06,2015-10-07,2015-10-08,2015-10-09,2015-10-12,2015-10-13,2015-10-14,2015-10-15,2015-10-16,...,2019-03-21,2019-03-22,2019-03-25,2019-03-26,2019-03-27,2019-03-28,2019-03-29,2019-04-01,2019-04-02,2019-04-03
0,16.410000,16.097334,15.464000,15.114667,14.712667,14.372000,14.616667,14.458667,14.754000,15.134000,...,18.268000,17.635332,17.361334,17.851334,18.322001,18.574667,18.657333,19.278667,19.058666,19.454000
1,66.313637,66.203247,66.755196,67.619850,67.969421,68.144196,67.656654,67.178322,67.518684,67.647453,...,132.330032,130.314423,129.748108,131.648560,132.080460,132.617966,133.165085,134.700790,136.082901,136.860367
2,24.185108,23.932896,24.129066,24.339251,24.255177,24.301880,24.143074,24.241158,24.670866,24.899734,...,46.610149,45.635086,45.461311,45.615780,45.239273,45.384079,45.586815,47.213539,48.154819,48.714756
3,25.246201,25.366982,25.246201,24.954493,25.551580,25.433069,25.476372,25.116299,25.492327,25.305454,...,47.275925,46.296913,45.737137,45.264591,45.671711,45.732296,46.030357,46.342957,47.016636,47.338936
4,32.073502,32.271999,32.118000,31.958000,32.180500,32.333500,32.615002,32.557999,33.087002,33.110001,...,61.577000,60.275002,59.650002,59.230999,58.651001,58.424500,58.665501,59.721500,60.024502,60.296001

In [ ]:
train.to_csv('train_daily.csv')
test.to_csv('test_daily.csv')
val.to_csv('val_daily.csv')